*{
    margin: 0;
}
#container {
    width: 100%;
    height: 100vh;
    background-color: grey;
}
#ball {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: red;
    top: 100px;
    position: absolute;

}